<%- include('header'); -%>

<header>
    <div class="container-fluid bg-success-subtle mb-4">
        <div class="col-sm-8 mx-auto text-center py-4">
            <h1 class="display-6">dKin Butterfly Club</h1>
            <p class="lead">Informative web page on Butterflies from around the world</p>
        </div>
    </div>
</header>

<main>
    <div class="container">
        <h1>
            <%= message %>
        </h1>
        <h2>
            <%= error.status %>
        </h2>
        <pre><%= error.stack %></pre>
    </div>
</main>

<%- include('footer'); -%>